# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database related config and data files
data/*
config.ini
GeoNames.py

# Emacs related cache file
.~/
*~

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# MACOS
.DS_Store

# sass
static/sass/.sass-cache/*

# private info
.env
*_secrets.json
