body {
  padding-top: 60px;
}

p {
    text-indent: 10%;
}

.main {
    margin-top: 1em;
    padding-top: 1em;

    h2 {
	font-family: "Patua One";
	background-image: url('../images/text_background.jpg');
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    }

    a:hover, a {
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }

    .category {
	border-right: 1px solid #ccc;
    }

    figcaption {
	font-family: "Berkshire Swash";
	text-align: center;
    }
}
