{% extends "default.html" %}
{% block title} {{category.name}} {% endblock %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-sm-4 category">
      <h2>Categories</h2>
      {% for cata in categories %}
        <p>{{cata.name}}</p>
        </br>
      {% endfor %}
    </div>
    <div class="col-sm-8">
      <a href="#">Add Item</a>
      <h2>{{category.name}} Items ({{category.size}} items)</h2>
      {% for item in items %}
        <a href="#">{{item.name}}</a>
	</br>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}