{% from "_formHelpers.html" import render_field %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='sass/signin.css' )}}" rel="stylesheet"/>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Berkshire+Swash|Rock+Salt|East+Sea+Dokdo|Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4
                    my-lg-5 signin-col rounded-left">
          <h1 class="brand pt-4">Catalog</h1>
          <form action="" class="form-signin py-3" method="POST">
            <h2>Welcome Catalog</h2>
	    {{ form.csrf_token }}
	    {% if form.csrf_token.errors %}
	    <div class="alert alert-danger" role="alert">
	      You have submitted an invalid CSRF token
	    </div>
	    {% endif %}
	    {{ render_field(form.email, class='form-control rounded',
	    placeholder='Email Address', required=True, autofocus=True) }}
	    {{ render_field(form.username, class='form-control rounded',
	    placeholder='User Name', required=True) }}
	    {{ render_field(form.password, class='form-control rounded',
	    placeholder='Password', required=True) }}
	    {{ render_field(form.confirm, class='form-control rounded',
	    placeholder='Repeat Password', required=True) }}
            <button class="btn btn-lg btn-primary btn-block mb-2" id="SigninButtion">
              Sign up
            </button>
            <button class="btn btn-secondary btn-block"
		    onClick="window.location='/login'">
	      Log In
	    </button>
          </form>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
